body {
    font-family: 'Poppins', sans-serif;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
    color: #343a40;
}

.nav-link {
    color: #343a40;
}
.btn-colorful {
    background-color: #343a40;
    border-color: #343a40;
    color: #fff;
    margin-left: 10px;
    border-radius: 30px;
}
.home-img {
    width: 100%;
    height: auto;
    max-height: 720px;
    margin-bottom: 50px;
}
.home-video-collection {
    margin-bottom: 100px;
}
.video {
    width: 100%;
    height: auto;
    height: 500px;
    border-radius: 30px;
    overflow: hidden;
}
.navigator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #343a40;
    background: none;
    border: none;
    border-radius: 30px;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    z-index: 9999;
}
.navigator:hover {
    background-color: #343a40;
}
.navigator-left {
    left: -50px;
}

.navigator-right {
    right: -50px;
}